
<!--================Footer Area =================-->
<!--<footer class="footer_area">
    <div class="container">
        <div class="footer_widgets">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-6">
                    <aside class="f_widget f_about_widget">
                        <img src="{{springMacroRequestContext.request.contextPath}}/img/logo.png" alt="">
                        <p>Persuit is a Premium PSD Template. Best choice for your online store. Let purchase it to enjoy now</p>
                        &lt;!&ndash;<h6>Social:</h6>
                        <ul>
                            <li><a href="#"><i class="social_facebook"></i></a></li>
                            <li><a href="#"><i class="social_twitter"></i></a></li>
                            <li><a href="#"><i class="social_pinterest"></i></a></li>
                            <li><a href="#"><i class="social_instagram"></i></a></li>
                            <li><a href="#"><i class="social_youtube"></i></a></li>
                        </ul>&ndash;&gt;
                    </aside>
                </div>
                <div class="col-lg-2 col-md-4 col-6">
                    <aside class="f_widget link_widget f_info_widget">
                        <div class="f_w_title">
                            <h3>Information</h3>
                        </div>
                        <ul>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Delivery information</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Help Center</a></li>
                            <li><a href="#">Returns & Refunds</a></li>
                        </ul>
                    </aside>
                </div>
                <div class="col-lg-2 col-md-4 col-6">
                    <aside class="f_widget link_widget f_service_widget">
                        <div class="f_w_title">
                            <h3>Customer Service</h3>
                        </div>
                        <ul>
                            <li><a href="#">My account</a></li>
                            <li><a href="#">Ordr History</a></li>
                            <li><a href="#">Wish List</a></li>
                            <li><a href="#">Newsletter</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </aside>
                </div>
                <div class="col-lg-2 col-md-4 col-6">
                    <aside class="f_widget link_widget f_extra_widget">
                        <div class="f_w_title">
                            <h3>Extras</h3>
                        </div>
                        <ul>
                            <li><a href="#">Brands</a></li>
                            <li><a href="#">Gift Vouchers</a></li>
                            <li><a href="#">Affiliates</a></li>
                            <li><a href="#">Specials</a></li>
                        </ul>
                    </aside>
                </div>
                <div class="col-lg-2 col-md-4 col-6">
                    <aside class="f_widget link_widget f_account_widget">
                        <div class="f_w_title">
                            <h3>My Account</h3>
                        </div>
                        <ul>
                            <li><a href="#">My account</a></li>
                            <li><a href="#">Ordr History</a></li>
                            <li><a href="#">Wish List</a></li>
                            <li><a href="#">Newsletter</a></li>
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
        <div class="footer_copyright">
            <h5>©
                <script>document.write(new Date().getFullYear());</script>
                &lt;!&ndash; Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. &ndash;&gt;
                Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
                        href="https://colorlib.com" target="_blank">Colorlib</a>
                &lt;!&ndash; Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. &ndash;&gt;
            </h5>
        </div>
    </div>
</footer>-->
<!--================End Footer Area =================-->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{springMacroRequestContext.request.contextPath}}/webjars/jquery/3.2.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{springMacroRequestContext.request.contextPath}}/js/popper.min.js"></script>
<script src="{{springMacroRequestContext.request.contextPath}}/webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!-- Rev slider js -->
<script src="{{springMacroRequestContext.request.contextPath}}/vendors/revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="{{springMacroRequestContext.request.contextPath}}/vendors/revolution/js/jquery.themepunch.revolution.min.js"></script>
<script src="{{springMacroRequestContext.request.contextPath}}/vendors/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="{{springMacroRequestContext.request.contextPath}}/vendors/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script src="{{springMacroRequestContext.request.contextPath}}/vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="{{springMacroRequestContext.request.contextPath}}/vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="{{springMacroRequestContext.request.contextPath}}/vendors/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="{{springMacroRequestContext.request.contextPath}}/vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<!-- Extra plugin css -->
<script src="{{springMacroRequestContext.request.contextPath}}/vendors/counterup/jquery.waypoints.min.js"></script>
<script src="{{springMacroRequestContext.request.contextPath}}/vendors/counterup/jquery.counterup.min.js"></script>
<script src="{{springMacroRequestContext.request.contextPath}}/vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="{{springMacroRequestContext.request.contextPath}}/webjars/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
<script src="{{springMacroRequestContext.request.contextPath}}/vendors/image-dropdown/jquery.dd.min.js"></script>
<script src="{{springMacroRequestContext.request.contextPath}}/js/smoothscroll.js"></script>
<script src="{{springMacroRequestContext.request.contextPath}}/vendors/isotope/imagesloaded.pkgd.min.js"></script>
<script src="{{springMacroRequestContext.request.contextPath}}/vendors/isotope/isotope.pkgd.min.js"></script>
<script src="{{springMacroRequestContext.request.contextPath}}/vendors/full-page/jquery.fullpage.min.js"></script>
<script src="{{springMacroRequestContext.request.contextPath}}/vendors/magnify-popup/jquery.magnific-popup.min.js"></script>
<script src="{{springMacroRequestContext.request.contextPath}}/vendors/vertical-slider/js/jQuery.verticalCarousel.js"></script>
<script src="{{springMacroRequestContext.request.contextPath}}/webjars/jquery-ui/1.12.1/jquery-ui.min.js"></script>
<script src="{{springMacroRequestContext.request.contextPath}}/webjars/vue/2.6.11/dist/vue.min.js"></script>
<script src="{{springMacroRequestContext.request.contextPath}}/webjars/axios/0.19.1/dist/axios.min.js"></script>

<!-- contact js -->
<script src="{{springMacroRequestContext.request.contextPath}}/webjars/jquery-form/3.51/jquery.form.js"></script>
<script src="{{springMacroRequestContext.request.contextPath}}/webjars/jquery-validation/1.11.1/jquery.validate.js"></script>
<script src="{{springMacroRequestContext.request.contextPath}}/js/contact.js"></script>

<script src="{{springMacroRequestContext.request.contextPath}}/js/full-page.js"></script>
<script src="{{springMacroRequestContext.request.contextPath}}/js/theme.js"></script>
</body>
</html>